<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apisserie</title>
    {{#if false}}
      <link rel="stylesheet" href="/public/css/styles.css">
    {{/if}}
  </head>
  <body>
    <div id="app"></div>

    {{#if view}}
      <script>
        window.__PRELOADED_STATE__ = '{{{ view }}}';
      </script>
    {{/if}}

    <script src="/public/js/bundle.js"></script>
  </body>
</html>
