<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spark!</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.__PRELOADED_STATE__ = JSON.parse('{{{ state }}}');
    </script>
    <script src="public/js/bundle.js"></script>
  </body>
</html>
