@keyframes active {
  0% { background: #EEE; }
  100% { background: transparent; }
}


.ProductList {
  &__item {
    border-top: 1px solid #EEE;

    &:last-child {
      border-bottom: 1px solid #EEE;
    }

    &:active {
      animation: active 4000ms;
    }

    &--selected {
      font-weight: bold;
    }

    &--working {
      .ProductList__checkbox {
        opacity: 0.5;
      }
    }
  }

  &__checkbox {
    transition: 300ms;
  }
}
